# Built application files & Module Build Directories
**/build/
build/
*.apk
*.aar
*.ap_
*.aab

# Android Studio / IntelliJ IDEA Files
.idea/
*.iml
.gradle/
local.properties

# Native / C++ Builds
.externalNativeBuild
.cxx/
/captures

# OS Specific Files
.DS_Store
Thumbs.db